@import '../../styles.scss';

h4 {
    color: white;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    align-items: center;

    .span_total {
        color: grey;
        font-size: 0.6em;

        margin-left: 10px;
    }
}

a {
    color: white;
    text-decoration: none;
}

.container.abilities {
    
    .material-icons {
        transition: all .2s ease-in-out;
        font-size: 1.3em;
        color: white;
        cursor: pointer;

        &:hover {
            transform: scale(1.42);
            color: white;
            background: $border;
            border-radius: 5px;
            box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75);
        }
    }
}

.container_ability {
    margin-bottom: 20px;
}

.vertical_align_top {
    background: grey;
    a {
        position: absolute;
        right: 15px;

        span {
            color:white;
            font-size: 1.5em;
            font-weight: bolder;
            border: 2px solid white;
            border-radius: 5px;
            padding: 3px;

            transition: all .2s ease-in-out;

            &:hover {
                transform: scale(1.2);
                box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75);

                background: $border;
            }
        }
    }
}

.abilities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-top: 20px;
    .badge {
        margin: 4px !important;
        padding: 5px 10px !important;
        font-size: larger;
        color: white;
    }

    .badge-warning {
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.07);
            background-color: $border;
            box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75);
        }
    }
}

.chevron_right {
    font-weight: bolder;;
}

.container.pokemons_by_ability {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.plus_pokemons_ability {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .material-icons.arrow_forward_ios {
        transition: all .2s ease-in-out;
        cursor: pointer;
        font-size: 2em;

        &:hover {
            transform: scale(1.22);
            
            background: $border;
            border-radius: 5px;
            box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75);
        }
    }
}
