@import '../../styles.scss';

section {
    margin-top: 40px;
    
    .badge {
        padding: 5px 10px !important;
        font-size: larger;
        color: white;
        margin-bottom: 40px;
    }

    .back_types {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 110px;
        transition: all .2s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.12);
            box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75);
        }
    }
}

h4 {
    color: white;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bolder;
    position: relative;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;

    .span_total {
        color: grey;
        font-size: 0.6em;

        margin-left: 10px;
    }

    .chevron_right {
        font-weight: bolder;;
    }

    .back {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 0.42em;
        font-weight: bolder;

        display: flex;
        justify-content: center;
        align-items: center;

        .undo {
            font-size: 1.4em;
        }
    }
}

.all_pokemons_type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.vertical_align_top {
    background: grey;
    a {
        position: absolute;
        right: 15px;

        span {
            color:white;
            font-size: 1.5em;
            font-weight: bolder;
            border: 2px solid white;
            border-radius: 5px;
            padding: 3px;

            transition: all .2s ease-in-out;

            &:hover {
                transform: scale(1.2);
                box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75);
                background:  $border;
            }
        }
    }
}