@import '../../styles.scss';

.container {
    
    margin-top: 30px;

    #id_map {
        height: 350px;
        width: 600px;
        border-radius: 10px;

    }
}

@media (max-width: 625px) {
    #id_map {
        width: 425px;
        border-radius: 10px;

    }
}

@media (max-width: 425px) {
    #id_map {
        width: 300px !important;
        border-radius: 10px;

    }
}

@media (max-width: 325px) {
    #id_map {
        width: 250px !important;
        border-radius: 10px;

    }
}
