<section>
    <div class="container-fluid first">
        <div class="affiche_top">
            <div class="img_top">
                <img class="" src="assets/img/pokemon.png" alt="Pokemon" />
            </div>
            <div class="btn_text">
                <div class="btn btn-primary">Let's Go</div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="thumbnail">
                <div class="text_right">
                    <span class="text_title">
                        Pokémon 2: The Power Is Within You
                    </span>
                    <p>
                        
                        Ash and his friends travel to the Orange Islands, but even these (seemingly peaceful) islands scattered south of Kanto are teeming with mysteries, adventures, and legendary Pokémon! Gelardan knows this perfectly well: he therefore travels the different islands to capture the three legendary birds (Sulfura, Artikodin and Electhor)
                    </p>
                    <div class="btn btn-primary">Try it</div>
                </div>
                <div class="img_left">
                    <img class="" src="assets/img/ptv.jpg" alt="Pokemon" />
                </div>   
            </div>
            <hr>
            <div class="thumbnail">
                <div class="img_left">
                    <img class="" src="assets/img/players-cups.jpg" alt="cups" />
                </div>
                <div class="text_right">
                    <span class="text_title">
                        Pokémon Players Cup II
                    </span>
                    <p>
                        Pokémon Players Cup II to begin September 2020, featuring Pokémon TCG and video game
                        competitions.

                        This is an exciting opportunity for Pokémon Trainers around the world to pit their knowledge and skills against each other in a fight for rewards and glory. The Pokémon Players Cup II is open to all players in the master category, and the tournament will take place online only.
                    </p>
                    <div class="btn btn-primary">Try it</div>
                    
                </div>
            </div>
            <hr>
            <div class="thumbnail">
                <div class="text_right">
                    <span class="text_title">
                        Pokémon Masters EX 
                    </span>
                    <p>
                        In Pokémon Masters EX, you'll explore the man-made island of Passio, team up with famous Trainers, and take part in a real-time 3v3 competition to win the World Pokémon Masters (WPM).
                    </p>
                    <div class="btn btn-primary">Try it</div>
                </div>
                <div class="img_left">
                    <img class="" src="assets/img/pokemon-master.gif" alt="Pokemon" />
                </div>   
            </div>

        </div>
    </div>


</section>