<section>

    
    <div class="container-fluid pokemon">
        <div class="affiche_top ">
            <!-- <div class="img_top">
                <img class="" src="assets/img/pokemon.png" alt="Pokemon" />
            </div>
            <h3>By</h3> -->
            <H4>Create your <span class="pokedex">Pokedex</span> with</H4>
            <div class="img_bottom ">
                <img class="" src="assets/img/papi.png" alt="Pokemon" />
            </div>
            <div class="btn_text  ">
                <div class="btn btn-primary">Let's Go</div>
            </div>
        </div>
        <div>
            <app-list-pokemon></app-list-pokemon>
        </div>
    </div>

    
    <div class="movies">
        <div class="movies_left">
            <h2>Movies</h2>
            <p>Pokémon is a media franchise created by video game designer Satoshi Tajiri that centers on fictional creatures called Pokémon.</p>
            
        </div>
        <div class="movies_right">
            <div class="movie_case">
                <h4>The First Movie</h4>
                <img src="assets/img/pok.jpg" alt="First move"> 
            </div>
            <div class="movie_case">
                <h4>Spell of the unow</h4>
                <img src="assets/img/pok3.jpg" alt="La Poste"> 
            </div>
            
            <div class="movie_case">
                <h4>Mewtwo Strikes back</h4>
                <img src="assets/img/mewto.jpg" alt="La Poste"> 
            </div>
            <div class="movie_case">
                <h4>The movie 2000</h4>
                <img src="assets/img/pok2000.jpg" alt="La Poste"> 
            </div>
            <div class="movie_case">
                <h4>Detective Pikachu</h4>
                <img src="assets/img/detective.jpg" alt="La Poste"> 
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="container">
            <div class="thumbnail">
                <div class="text_right">
                    <span class="text_title">
                        Pokémon 2: The Power Is Within You
                    </span>
                    <p>
                        
                        Ash and his friends travel to the Orange Islands, but even these (seemingly peaceful) islands scattered south of Kanto are teeming with mysteries, adventures, and legendary Pokémon! Gelardan knows this perfectly well: he therefore travels the different islands to capture the three legendary birds (Sulfura, Artikodin and Electhor)
                    </p>
                    <div class="btn btn-primary">
                        <a href="https://watch.pokemon.com/fr-fr/season.html?id=pokemon-2-le-pouvoir-est-en-toi" target="_blank">
                            Try it
                        </a>
                    </div>
                </div>
                <div class="img_left">
                    <img class="" src="assets/img/ptv.jpg" alt="Pokemon" />
                </div>   
            </div>
            
            <div class="thumbnail">
                <div class="img_left">
                    <img class="" src="assets/img/players-cups.jpg" alt="cups" />
                </div>
                <div class="text_right">
                    <span class="text_title">
                        Pokémon Players Cup II
                    </span>
                    <p>
                        Pokémon Players Cup II to begin September 2020, featuring Pokémon TCG and video game
                        competitions.

                        This is an exciting opportunity for Pokémon Trainers around the world to pit their knowledge and skills against each other in a fight for rewards and glory. The Pokémon Players Cup II is open to all players in the master category, and the tournament will take place online only.
                    </p>
                    <div class="btn btn-primary">
                        <a href="https://www.pokemon.com/fr/actus-pokemon/la-coupe-des-joueurs-pokemon-ii-commencera-en-septembre-2020-et-offrira-des-competitions-du-jcc-et-du-jeu-video-pokemon/" target="_blank">
                            Try it
                        </a>
                    </div>
                    
                </div>
            </div>
            
            <div class="thumbnail">
                <div class="text_right">
                    <span class="text_title">
                        Pokémon Masters EX 
                    </span>
                    <p>
                        In Pokémon Masters EX, you'll explore the man-made island of Passio, team up with famous Trainers, and take part in a real-time 3v3 competition to win the World Pokémon Masters (WPM).
                    </p>
                    <div class="btn btn-primary">
                        <a href="https://pokemonmasters-game.com/fr-FR" target="_blank">
                            Try it
                        </a>
                    </div>
                </div>
                <div class="img_left">
                    <img class="" src="assets/img/pokemon-master.gif" alt="Pokemon" />
                </div>   
            </div>

        </div>
    </div>

    <div class="container-fluid pokemon_go">
        <div class="container " >
            <div class="try_it">
                <h3 class="txt-center">Try it yourself !</h3>
                <p class="txt-center m-20">Download Pokemon Go app, augmented reality !</p>
                <p class="txt-center">
                    <a href="https://apps.apple.com/fr/app/pokemon-go/id1094591345" target="_blank">
                    <img src="assets/img/btn-apple-store.png" alt="Pokemon Go iOS"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.nianticlabs.pokemongo" target="_blank" class="m-10 btn-app">
                        <img src="assets/img/btn-google-play.png" alt="Pokemon Go android">
                    </a>
                </p>
            </div>    
        </div>

    </div>
    


</section>