@import '../../styles.scss';

section {
    //min-height: 100%;
    //background: turquoise;

    .container.pokemon_go {
        
        margin-top: 30px;
        
        background-image: url("../../assets/img/pokemon-go-solciste.jpg");
        min-height: 100vh;
        background-repeat: no-repeat, repeat;
        //background: linear-gradient(to bottom,#800080 0,#8000BD 100%);
        
        color: white;


        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-bottom: 20px;

        .try_it {
            
            padding: 35px;
            margin-top: 80px;
            margin: 40px;
            background: #4893b8;
            border: 1px solid black;
            border-radius: 5px;
            background: #4893b8;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

            text-align: center;

            a {
                padding: 5px;
            }
        }

        .btn_text {
            display: flex;
            justify-content: center;

            .btn {
                width: 170px;
                font-weight: bold;
            }
        }
    
    }

    .movies {
        color: white;
        display: flex;
        flex-direction: row;
        margin-top: 45px;
        padding: 20px 15px;

        
        background: linear-gradient(to bottom,#92920d  0,#feca1b 100%);

        .movies_left {
            flex: 2;
            display: flex;
            flex-direction: column;
            padding: 15px;

            h2 {
                font-size: 45px;
                line-height: 1.3em;
                margin-bottom: 20px;
                letter-spacing: 1px;
                display: block;
                margin-block-start: 0.83em;
                margin-block-end: 0.83em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
        }

        .movies_right {
            flex:8;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            .movie_case {
                padding: 15px;
                position: relative;

                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                h4 {
                    padding: 0 10px;
                    text-align: center;
                }

                img {
                    max-width: 170px;
                    
                }

                a {
                    margin: 20px 0px 12px;
                }
            }
        }

    }
    

    .container-fluid.pokemon {
        margin-top: 30px;

        .affiche_top {
            flex-direction: column;

            .img_top {
                display: flex;
                justify-content: center;
                img {
                    width: 50%;
                }
            }
            h3 {
                color: $color;
                text-align: center;
            }
            .img_bottom {
                display: flex;
                justify-content: center;
                img {
                    //width: 40%;
                }
            }

            .btn_text {
                display: flex;
                justify-content: center;
                .btn {
                    width: 170px;
                    font-weight: bold;
                }
            }
        }
    }

    .container {
        color: $color;
        margin-top: 50px;

        .thumbnail {

            display: flex;
            padding: 20px 10px;
            color: $back;

            .img_left {
                img {
                    width: 450px;
                }
            }

            .text_right {
                display: flex;
                flex-direction: column;

                position: relative; 

                background: $back;
                color: white;
                font-weight: bold;
                padding: 10px 10px;

                .text_title {
                    font-size: x-large;
                }

                p {
                    padding: 10px 0px;
                }

                .btn {
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                    font-weight: bold;
                }
                
                
            }

        }
        
    }
}