@import '../../styles.scss';

section {
    margin-top: 40px;

    .badge {
        padding: 5px 10px !important;
        font-size: larger;
        color: white;

        margin-bottom: 40px;
    }
}

h4 {
    color: white;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bolder;
    position: relative;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;

    .span_total {
        color: grey;
        font-size: 0.6em;

        margin-left: 10px;
    }

    .chevron_right {
        font-weight: bolder;;
    }

    .back {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 0.42em;
        font-weight: bolder;

        display: flex;
        justify-content: center;
        align-items: center;

        .undo {
            font-size: 1.4em;
        }
    }
}

.all_pokemons_ability {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}