<div class="container" *ngIf="pokemon">

    <div class="pokemon_container" style="background: {{color_background}}; border: 3px solid {{color_abilities}};">
        <div class="pokemon_settings">
            <h3 style="text-shadow: {{color_abilities}} 2px 2px;">{{pokemon.species.name}}</h3>
            <div class="pokemon_abilities" *ngIf="pokemon.abilities && show_abilities">
                <div    class="badge badge-light badge_abilities" 
                        [ngStyle]="{'background' : color_abilities}"
                        *ngIf="pokemon.abilities[0]">
                    <a  routerLink="/pokemons-ability/{{pokemon.abilities[0].ability.name}}/0/20"  
                        
                        class=""
                        title="{{pokemon.abilities[0].ability.name | titlecase }}">
                        {{pokemon.abilities[0].ability.name}}
                    </a>
                </div>
                <div    class="badge badge-light badge_abilities" 
                        [ngStyle]="{'background' : color_abilities}" 
                        *ngIf="pokemon.abilities[1]">
                    
                    <a  routerLink="/pokemons-ability/{{pokemon.abilities[1].ability.name}}/0/20" 
                        title="{{pokemon.abilities[1].ability.name | titlecase }}">
                        {{pokemon.abilities[1].ability.name}}
                    </a>
                </div>
            </div>  

        </div>
        <a routerLink="/pokemons-details/{{pokemon.id}}" title="{{pokemon.species.name | titlecase }}">
            <img  
                src="{{pokemon.sprites.other.dream_world.front_default 
                    ? pokemon.sprites.other.dream_world.front_default
                    : 'assets/img/no_image.png'}}"
                [ngStyle]="{'width.px' : pokemon.sprites.other.dream_world.front_default  ? width_img_pokemon : '100px' , 'height.px' : height_img_pokemon }"
            >
        </a>
        
    </div>
    <span class="badge number"  [ngStyle]="{'background' : color_abilities}" >
        #{{pokemon.id}} 
    </span>
    <span class="badge number_prix"  [ngStyle]="{'color' : color_abilities}" >
        {{prix}}$
    </span>
    <div class="pokeball">
        <img  
                        src='assets/img/pokeball.png'
                        [ngStyle]="{'display': 'none'}" 
                        [ngClass]="{'shopping_cart_img' : isOnCart }"
        >   
    </div>
</div>
<div class="spinner-grow text-warning" *ngIf="!pokemon"></div>