@import '../../styles.scss';

.container {
    display: flex;
    float: row;
    flex-wrap: wrap;
    padding: 5px;
}

.pokemon_container {
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 8px 5px 2px;

    .pokemon_settings {
        position: relative;
        top: -20px;
        right: -20px;

        .pokemon_abilities {
            display: flex;
            flex-direction: column;
        }

        .badge {
            margin: 3px;
            padding: 10px 20px;
            background: #7cbeb3;
            color: white;

            //box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75);
        }
    }

    h3 {
        color: white;
        margin-top: 20px;
        text-transform: capitalize;
        font-weight: bold;
    }

    img {
        padding: 10px 15px;
        margin: 5px 8px;
        margin: 5px 0px 5px 20px;

        
    }
    
}