<header>
    <div class="container-fluid head_container">
        <div class="head_left p-3">
            <a routerLink="/main" title="Home">
                <span class="head_logo">PokéMirr∞r</span>
            </a>
        </div>
        <div class="head_middle p-3"> 
            <!-- Millieu -->
        </div>
        <div class="head_right p-3">
            <ul class="">
                <li class="nav-item" >
                    <div    class="nav-link link-logo a_search" 
                            title="Search"
                    >
                        <form [formGroup]="monForm" class="form_search" > 
                                <input  type="text" placeholder="Search a pokemon ..." 
                                        formControlName="search" 
                                        class=" form-control search_input" 
                                        id="id_search_input"
                                        [ngClass]="{'show': isInputSearch, 'fade': !isInputSearch }"
                                        (keyup)="inputSearchChange()"
                        >
                                <i  class="material-icons i_close" 
                                    [ngClass]="{'show': isInputSearch, 'fade': !isInputSearch }"
                                    (click)="allClear()"
                                    ></i>
                                <span class="material-icons search_material" (click)="toggleSearch()" >
                                    find_in_page
                                </span>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-logo a_transition" routerLink='/types' title="Types" routerLinkActive="active">
                        Types
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-logo a_transition" routerLink='/abilities/0/20' title="Abilities"
                        routerLinkActive="active">
                        Abilities
                    </a>
                </li>
                <!--  
                    <span class="material-icons">
                        search
                    </span>


                <li #nav_attack class="nav-item" >
                    <a class="nav-link link-logo" routerLink='/types' title="Attack" routerLinkActive="active">
                        Attack
                    </a>
                </li> 
                -->
            </ul>

        </div>
    </div>

</header>



<section class="router_content">
    <div class="search_container" [ngClass]="{'show': isShowSearch, 'fade': !isShowSearch}">
        <h5> "{{this.input_search}}"" : {{this.search_pokemons.length}} {{this.search_pokemons.length > 1 ? "founds" : "found"}}
            <span class="material-icons close_results_search" (click)="allClear()" >
                close
            </span>
        </h5>
        <div class='search_result' >
             <div *ngFor="let pokemon of this.search_pokemons; let i = index">
                <app-pokemon    [input_pokemon]="pokemon" 
                        [width_img_pokemon]="120" 
                        [height_img_pokemon]="120" 
                        [show_abilities]="true">
                </app-pokemon> 
            </div>

    </div>
    
    </div>
    <router-outlet></router-outlet>
</section>

<footer>
    <div class="footer">
        <ul>
            <li class=" ">
                <a class="nav-link link-logo" routerLink='/main' title="Home">
                    <div class="container_logo_bottom">
                        <span class="logo_bottom_t">8Mirr∞r</span> <span class="logo_bottom_b">Group</span>
                    </div>
                </a>
            </li>
            <li>
                <a href='https://pokeapi.co/' target="_blank" title="PokéApi"> <img class="card-img-top"
                        src="assets/img/papi.png" alt="PokéApi" />
                </a>

            </li>
            <li><span class="about_bottom">About Us</span>
                <div class="reseaux_bottom">

                    <a routerLink="/admin" title="Admin Michael Hatchi">
                        <fa-icon [icon]="faUserCircle"></fa-icon>
                    </a>
                    <a href='https://www.linkedin.com/in/m-hatchi-bb4b49156/' title="Linkedin" target="_blank">
                        <fa-icon class="fa-git" [icon]="faLinkedinIn"></fa-icon>
                    </a>
                    <a href='https://github.com/objectifMH/MirroorMedia' target="_blank" title="Github">
                        <fa-icon [icon]="faGithub"></fa-icon>
                    </a>



                </div>
            </li>

        </ul>

        <div class="footer_bottom">
            <span>©2021 Copyright.fr. All right reserved.</span>
        </div>
    </div>
</footer>