@import '../../styles.scss';

.container {
    

    margin-top: 30px;
    .container_pokedex {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;
        justify-content: space-evenly;

        .pokedex_title {
            width: 100%;
            border-bottom: 9px solid white;
            h4 {
                color: white;
                position: relative;
                font-size: 1.8em;

                .nbr {
                    position: absolute;
                    right: 0;
                    color: grey;
                }
            }
        }

        .container_table {
            color: white;
            width: 100%;
            table {
                width: 100%;
                font-size: 1.2em;
                font-weight: bolder;

                tr {
                    border-radius: 15px;
                    margin: 5px;
                }

                .id_pokemon {
                    color: white;
                    border-radius: 50%;
                    padding: 8px;
                    margin-left: 5px;
                }

                .container_td_img {
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    margin: 14px auto;
                    transition: all .2s ease-in-out;
        
                    &:hover {
                        transform: scale(1.2);
                        box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75);
                    }
                }

                .td_name {
                    text-transform: capitalize;
                }
                
                .badge_types {
                    margin: 3px;
                    padding: 10px 20px;
                    transition: all .2s ease-in-out;
        
                    &:hover {
                        transform: scale(1.2);
                        box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75);
                    }
                }

                .close_material {
                    transition: all .2s ease-in-out;
                    cursor: pointer;
        
                    &:hover {
                        color: red;
                        transform: scale(1.6);
                        text-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }

        .pokemon {
            margin: 5px;
        }

        .total {
            width: 100%;
            border-top: 9px solid white;
            margin-top: 40px;

            h5 {
                font-size: 1.5em;
                font-weight: bolder;
                color: white;
                position: relative;

                .prix {
                    position: absolute;
                    right: 0;
                }
            }
        }

        .clear_all{
            .btn-danger {
                color: white;
                font-size: 1.2em ;
                font-weight: bolder !important;
            }
        }
    }
}

@media (max-width: 425px) {

    .pokedex_title {
        border-bottom: 2px solid white !important;
        h4 {
            font-size: 1.2em !important;
        }
    }

    .container_table {
        table {
            width: 100%;
            font-size: 0.8em !important;

            .container_td_img {
                border-radius: 50%;
                width: 60px !important;
                height: 60px !important;
                margin: 8px auto !important;

                img {
                    max-width: 50px !important;
                    max-height: 50px !important;
                }
            }
        }
    }

    .total {
        border-top: 2px solid white !important;

        h5 {
            font-size: 1.2em !important;
        }
    }

    .clear_all{
        .btn-danger {
            font-size: 0.8em !important;
        }
    }
}