<section >
    <div class="top">
        <h1 class="">Développeur Full Stack </h1>
        <h4>Hatchi Michaël</h4> 
    </div>
    <div class="bottom">
      <div class="left">
        <img mat-card-image height="300"
                            src="{{'assets/admin/admin.jpg'}}"
        alt="img user">
      </div>
      <div class="right">
        <div class="">
          <div class="pb-5" >
            <h4 class="">Languages & Frameworks:</h4>
            <p>
                > Java, Spring Boot, <b>Angular</b>, JEE, React
            </p>
            <h4 class="">Web standard:</h4>
            <p>
                > <b>HTML5, CSS3,SCSS, JavaScript</b>, PHP7, <b>JQuery</b>
            </p>
            <h4 class="">Database administration:</h4>
            <p>
                > MySQL, PostGreSQL, PhpMyAdmin, Hibernate
            </p>
            <h4 class="">Project management methods:  </h4>
            <p>
                > Merise, Méthode Agile, Scrum, Gantt
            </p>
            <h3 class="">Formations</h3>
            <p>
                > POE Java Full Stack <small>(Java, Jee, Angular)</small>
            </p>
            <p>
                > Titre professionnel "Développeur Logiciel" de niveau III
            </p>
            <p>
                > Master 2 Mention Informatique
            </p>
          </div> 
          <a class="btn btn-success mb-3" href="mailto:mhatchi@yahoo.fr">Contact : mhatchi@yahoo.fr</a>
        </div>
      </div>
    </div>
  </section>
   