
<div class="container" *ngIf="pokemons_details">
    <div class="pokemon_container" style="background: {{color_background}}; border: 3px solid {{color_abilities}};">
        <div class="top">
            <h2 style="text-shadow: {{color_abilities}} 2px 2px;">{{pokemons_details.species.name}}</h2>
        </div>
        <div class="pokemon_settings middle">
            <div class="pokemon_spec_types_abilities">
                <div class="pokemon_spec" >
                    <H5 style="text-shadow: {{color_abilities}} 1px 1px;">Specification</H5>
                    <div    [ngStyle]="{'background' : species.color.name}" 
                            class="badge " 
                            *ngIf="species"
                            >
                        Height : {{this.pokemons_details.height}}dm
                    </div>
                    <div    [ngStyle]="{'background' : species.color.name}"
                            class="badge" 
                            *ngIf="species"
                            >
                        Weight : {{this.pokemons_details.weight}}hg
                    </div>
                </div>  
                <div class="pokemon_types" >
                    <H5 style="text-shadow: {{color_abilities}} 1px 1px;">Types</H5>
                    <div    *ngFor="let type of this.pokemons_details.types"
                            class="badge badge_types" 
                            [ngStyle]="{'background' : color_abilities}"
                            >
                        <a routerLink = "/pokemons-types/{{type.type.name}}" >
                            {{type.type.name}}
                        </a>
                    </div>
                </div>  
                <div class="pokemon_abilities" >
                    <H5 style="text-shadow: {{color_abilities}} 1px 1px;">Abilities</H5>
                    <div    *ngFor="let abilitie of this.pokemons_details.abilities"
                            class="badge badge_abilities" 
                            [ngStyle]="{'background' : color_abilities}">
                            <a  routerLink="/pokemons-ability/{{abilitie.ability.name}}/0/30" 
                                title="{{abilitie.ability.name | titlecase }}">
                                {{abilitie.ability.name}}
                            </a>
                    </div>
                </div> 
            </div>
             
            <img  
                src="{{pokemons_details.sprites.other.dream_world.front_default 
                    ? pokemons_details.sprites.other.dream_world.front_default
                    : 'assets/img/no_image.png'}}"
                [ngStyle]="{'max-width' : '400px'}" >
            <div class="pokemon_stats" >
                <H5 style="text-shadow: {{color_abilities}} 1px 1px;">Stats</H5>
                <div    *ngFor="let stat of this.pokemons_details.stats"
                        class="badge stats" 
                        [ngStyle]="{'background' : color_background}"
                        >
                    
                    <div class="stat_name">{{stat.stat.name}}: {{stat.base_stat}} </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': stat.base_stat+'%'}" aria-valuenow="{stat.base_stat}" aria-valuemin="0" aria-valuemax="100">
                            <span class="span_progress">
                                 
                            </span>
                        </div>
                    </div>
                </div>
            </div>  
        </div> 
        <div class="bottom" *ngIf='evolution_bool'>
            <h4>Evolution</h4>
            <div class="container_evolution">
                <div class="pokemon_baby">
                    <app-pokemon    *ngIf="baby_pokemon"  
                                    [input_pokemon]="baby_pokemon" 
                                    [width_img_pokemon]="100" 
                                    [height_img_pokemon]="100" 
                                    [show_abilities]="true">        
                    </app-pokemon>
                </div>
                <span class="material-icons arrow_forward_ios" style="text-shadow: {{color_abilities}} 2px 2px;" *ngIf="evolve_pokemon"> 
                    
                </span>
                <div class="pokemon_baby">
                    <app-pokemon    *ngIf="evolve_pokemon"
                                    [input_pokemon]="evolve_pokemon" 
                                    [width_img_pokemon]="120" 
                                    [height_img_pokemon]="120" 
                                    [show_abilities]="true">        
                    </app-pokemon>
                </div> 
                <span class="material-icons arrow_forward_ios" style="text-shadow: {{color_abilities}} 2px 2px;" *ngIf="super_evolve_pokemon">
                    
                </span>
                <div class="pokemon_baby">
                    <app-pokemon    *ngIf="super_evolve_pokemon" 
                                    [input_pokemon]="super_evolve_pokemon" 
                                    [width_img_pokemon]="140" 
                                    [height_img_pokemon]="140" 
                                    [show_abilities]="true">        
                    </app-pokemon>
                </div>
            </div>
            <div class="spinner-grow text-warning" *ngIf="!evolution_bool"></div>
        </div>
        
    </div>
    <span class="badge number"  [ngStyle]="{'background' : color_abilities}" >
        {{pokemons_details.id}}
    </span>
</div>