
<div class="container" *ngIf="pokemons_details">
    <div class="pokemon_container" style="background: {{color_background}}; border: 3px solid {{color_abilities}};">
        <div class="top position-relative">
            
            <h2 style="text-shadow: {{color_abilities}} 2px 2px;">{{pokemons_details.species.name}}</h2>
            <img  
                        src='assets/img/pokeball.png'
                        [ngStyle]="{'display': 'none'}" 
                        [ngClass]="{'shopping_cart_img' : isOnCart }"
                >
        </div>
        <div class="pokemon_settings middle">
            <div class="pokemon_spec_types_abilities">
                <div class="pokemon_spec" >
                    <H5 style="text-shadow: {{color_abilities}} 1px 1px;">Specification</H5>
                    <div    [ngStyle]="{'background' : species.color.name}" 
                            class="badge " 
                            *ngIf="species"
                            >
                        Height : {{this.pokemons_details.height}}dm
                    </div>
                    <div    [ngStyle]="{'background' : species.color.name}"
                            class="badge" 
                            *ngIf="species"
                            >
                        Weight : {{this.pokemons_details.weight}}hg
                    </div>
                </div>  
                <div class="pokemon_types" >
                    <H5 style="text-shadow: {{color_abilities}} 1px 1px;">Types</H5>
                    <div    *ngFor="let type of this.pokemons_details.types"
                            class="badge badge_types" 
                            [ngStyle]="{'background' : color_abilities}"
                            >
                        <a routerLink = "/pokemons-types/{{type.type.name}}" >
                            {{type.type.name}}
                        </a>
                    </div>
                </div>  
                <div class="pokemon_abilities" >
                    <H5 style="text-shadow: {{color_abilities}} 1px 1px;">Abilities</H5>
                    <div    *ngFor="let abilitie of this.pokemons_details.abilities"
                            class="badge badge_abilities" 
                            [ngStyle]="{'background' : color_abilities}">
                            <a  routerLink="/pokemons-ability/{{abilitie.ability.name}}/0/30" 
                                title="{{abilitie.ability.name | titlecase }}">
                                {{abilitie.ability.name}}
                            </a>
                    </div>
                </div> 
            </div>
            <div [ngStyle]="{'width' : '100%'}">
                <div    class="position-relative container_img" 
                        [ngStyle]="{'background' : color_abilities, 'border-radius': '50%'}">
                    <img  
                            src="{{pokemons_details.sprites.other.dream_world.front_default 
                                ? pokemons_details.sprites.other.dream_world.front_default
                                : 'assets/img/no_image.png'}}"
                            [ngStyle]="{'max-width' : '400px'}" 
                            
                    >
                    <span *ngIf="pokemons_details.sprites.front_shiny && toggle_shiny"> 
                        <img  class="shiny" [ngClass]="{'show': toggle_shiny, 'fade': !toggle_shiny}"
                            src="{{pokemons_details.sprites.front_shiny 
                                ? pokemons_details.sprites.front_shiny
                                : 'assets/img/no_image.png'}}" 
                            [ngStyle]="{'background' : color_background, 'border-radius': '50%'}"
                        >       
                    </span>
                                
                </div>  
            </div>      
            <div class="pokemon_stats" >
                <H5 style="text-shadow: {{color_abilities}} 1px 1px;">Stats</H5>
                <div    *ngFor="let stat of this.pokemons_details.stats"
                        class="badge stats" 
                        [ngStyle]="{'background' : color_background}"
                        >          
                    <div class="stat_name">{{stat.stat.name}}: {{stat.base_stat}} </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': stat.base_stat+'%'}" aria-valuenow="{stat.base_stat}" aria-valuemin="0" aria-valuemax="100">
                            <span class="span_progress">
                                 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prix_cart">
                <span class="badge prix"  [ngStyle]="{'background' : color_abilities}" >
                    {{prix}}$
                </span>
                <span   class="badge cart"  
                        [ngStyle]="{'background' : this.species_color }"
                        (click)="toggleOnCart(this.pokemons_details)"
                        > 
                    <span class="material-icons" [ngClass]="{'shopping_cart' : !isOnCart, 'done' : isOnCart  }">                     
                    </span>
                </span>
            </div>
        </div> 
        <div class="bottom" *ngIf='evolution_bool'>
            <div class="h4_bottom position-relative">
                <h4 >
                    <span class="material-icons span_evolution">
                        transform
                    </span>
                    Evolution
                </h4>
                <span   class="material-icons toggle_evolution" 
                            [ngStyle]="{'color' : color_abilities}"
                            (click)='toggleEvolutionShow()'
                            [ngClass]="{'toggle_close' : isEvolutionShow, 'toggle_add' : !isEvolutionShow  }"
                            >  
                </span>
            </div>  
            <div class="container_evolution" [ngClass]="{'show' : isEvolutionShow, 'fade' : !isEvolutionShow  }">
                <div class="pokemon_baby">
                    <div *ngFor="let pokemon of this.baby_pokemon; let i = index">
                        <app-pokemon    
                                        [input_pokemon]="pokemon" 
                                        [width_img_pokemon]="110" 
                                        [height_img_pokemon]="110" 
                                        [show_abilities]="true">        
                        </app-pokemon>
                    </div>
                </div>
                <span class="material-icons arrow_forward_ios" style="text-shadow: {{color_abilities}} 2px 2px;" *ngIf="evolve_pokemon.length > 0"> 
                    
                </span>
                <div  class="evolve_pokemon">
                    <div *ngFor="let pokemon of this.evolve_pokemon; let i = index">
                        <app-pokemon    [input_pokemon]="pokemon" 
                                [width_img_pokemon]="110" 
                                [height_img_pokemon]="110" 
                                [show_abilities]="true">
                        </app-pokemon> 
                    </div>
                </div>
                <span class="material-icons arrow_forward_ios" style="text-shadow: {{color_abilities}} 2px 2px;" *ngIf="super_evolve_pokemon.length > 0 ">
                    
                </span>
                <div  class="evolve_pokemon">
                    <div *ngFor="let pokemon of this.super_evolve_pokemon; let i = index">
                        <app-pokemon    [input_pokemon]="pokemon" 
                                [width_img_pokemon]="110" 
                                [height_img_pokemon]="110" 
                                [show_abilities]="true">
                        </app-pokemon> 
                    </div>
                </div>
            </div>
            <div class="spinner-grow text-warning" *ngIf="!evolution_bool"></div>
        </div>
        <div class="location_container">
            <div class="h4_container position-relative">
                <h4 >
                    <span class="material-icons">
                        location_on
                    </span>
                    Location
                    
                    <span class="span_location" [ngStyle]="{'color' : color_abilities}">
                        ({{location}})
                    </span>                
                </h4>
                <span   class="material-icons toggle_location" 
                            [ngStyle]="{'color' : color_abilities}"
                            (click)='toggleLocastionShow()'
                            [ngClass]="{'toggle_close' : isLocationShow, 'toggle_add' : !isLocationShow  }"
                            >  
                </span>
            </div>      
            <div    *ngFor="let loc of this.location; let i = index" 
                    [ngClass]="{'show' : isLocationShow, 'fade' : !isLocationShow  }"
                    >
                <app-map    [total]="loc" 
                            [color]="color_abilities"
                            [url_img]="url_img"
                            [name]="pokemons_details.species.name"
                >
                </app-map>
            </div>
        </div>  
    </div>
    <span class="badge number"  [ngStyle]="{'background' : color_abilities}" >
        #{{pokemons_details.id}}
    </span>
</div>