@import '../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;

    position: relative;
    margin-top: 30px;
}

.number {
    background: greenyellow;
    color: white;
    width: 25px;
    height: 25px;

    position: absolute;
    top: 15px;
    right: 22px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.prix_cart {
    position: absolute;
    display: flex;

    top: 0px;
    right: -100px;
    
}

.prix {

    width: 25px;
    height: 25px;
    padding: 10px 30px !important;

    border-radius: 3px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {

    width: 25px;
    height: 25px;
    padding: 10px 30px !important;

    border-radius: 3px;
    padding: 10px 3px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon_container {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 5px 2px;

    .pokemon_settings.middle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;

        margin-bottom: 40px;

        h5 {
            color: white;
            text-transform: capitalize;
            font-weight: bold;
            text-align: center;
        }

        .pokemon_spec_types_abilities {
            display: flex;
            flex-direction: row;
        }
        .pokemon_abilities, .pokemon_types, .pokemon_stats, .pokemon_spec {
            display: flex;
            flex-direction: column;
        }

        .badge {
            margin: 3px;
            padding: 10px 20px;
            color: white;
            text-shadow: 1px 1px 2px black;
            text-transform: capitalize;

            box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75);
            
        }

        .badge_abilities, .badge_types {
            transition: all .2s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }

        .badge.stats {
            width: 300px;
            position: relative;
        }

        .span_progress {
            text-align: center;

        }

        .stat_name {
            font-size: 1.2em;
            position: absolute;
            left: 30px;
        }
    }

    h2 {
        color: white;
        margin-top: 20px;
        text-transform: capitalize;
        font-weight: bold;
        text-align: center;
    }

    h4 {
        color: white;
        margin-top: 20px;
        text-transform: capitalize;
        font-weight: bold;
    }

    img {
        padding: 10px 15px;
        margin: 5px 8px;
        margin: 5px 0px 5px 20px;

    }

    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 50px;

        .container_evolution {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            margin-bottom: 50px;

            .pokemon_baby {

                h5 {
                    color: white;
                    margin-top: 20px;
                    text-transform: capitalize;
                    font-weight: bold;
                    text-align: center;
                }

                img {
                    border-radius: 15px;
                    max-width: 280px;
                }
            }

            .evolve_pokemon {
                display: flex;
                flex-direction: column ;
                align-items: center;
                img {
                    border-radius: 15px;
                    max-width: 280px;
                }
            }

            .arrow_forward_ios:before {
                color:white;
                font-size: 2em;
                content: 'arrow_forward_ios';
                
            }
        }
    }
}


/**  Responsive **/

// @media (max-width: 768px) {
//     .pokemon_settings.middle {
//         width: 80%;
//     }
// }

@media (max-width: 1024px) {
    .pokemon_settings.middle {
        img { 
            max-width: 300px !important;
            max-height: 300px !important;
        }
    }
}

@media (max-width: 768px) {
    .pokemon_settings.middle {
        flex-direction: column !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        .pokemon_stats {
            margin-top: 50px;
        }

        img { 
            order: 1;
            margin-bottom: 30px;
        }

        .pokemon_spec_types_abilities {
            order: 2;
        }

        .pokemon_stats {
            order: 3;
        }
    }
}

@media (max-width: 425px) {
    .pokemon_settings.middle {

        img { 
            max-width: 300px !important;
        }

        .prix_cart {
            position: absolute;
            display: flex;
            flex-direction: column !important;
        
            top: 25px !important;
            right: -45px !important;      
        }
    }



    .bottom {
        .container_evolution {
            flex-direction: column !important;

            .arrow_forward_ios:before {
                font-size: 2em;
                content: 'keyboard_arrow_down' !important;
                
            }
        }
    }
}