@import '../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;

    position: relative;
    margin-top: 30px;
}

h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    color: white;
    position: absolute;
    top: 15px;
    right: 22px;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prix_cart {
    position: absolute;
    display: flex;
    top: 110px ;
    right: 22px ;
}

.prix {

    width: 25px;
    height: 25px;
    padding: 10px 30px !important;
    border-radius: 3px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {

    width: 25px;
    height: 25px;
    padding: 10px 30px !important;
    border-radius: 3px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    .shopping_cart:before {
        color: white ;
        content: 'shopping_cart' !important;
    }

    .done:before {
        font-weight: bolder;
        color: white;
        content: "done" !important;
        font-size: xx-large;
    }
}

.pokemon_container {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 5px 2px;

    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .shopping_cart_img {
            display: block !important;
            position: relative;
            max-width: 50px;
            padding: 0 !important;
            margin: 0 !important;
            margin-left: 10px !important;

            transition: all .2s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.2) rotate(360deg);
            }     
        }
    }

    .pokemon_settings.middle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        margin-bottom: 40px;

        h5 {
            color: white;
            text-transform: capitalize;
            font-weight: bold;
            text-align: center;
        }

        .pokemon_spec_types_abilities {
            display: flex;
            flex-direction: row;
        }
        .pokemon_abilities, .pokemon_types, .pokemon_stats, .pokemon_spec {
            display: flex;
            flex-direction: column;
        }

        .badge {
            margin: 3px;
            padding: 10px 20px;
            color: white;
            text-shadow: 1px 1px 2px black;
            text-transform: capitalize;
            box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75);        
        }

        .badge_abilities, .badge_types {
            transition: all .2s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }

        .badge.stats {
            width: 300px;
            position: relative;
        }

        .span_progress {
            text-align: center;
        }

        .stat_name {
            font-size: 1.2em;
            position: absolute;
            left: 30px;
        }
    }

    h2 {
        color: white;
        margin-top: 20px;
        text-transform: capitalize;
        font-weight: bold;
        text-align: center;
    }

    h4 {
        color: white;
        margin-top: 20px;
        text-transform: capitalize;
        font-weight: bold;
    }

    .container_img {
        max-width: 380px;
        max-height: 380px;
        box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75); 
        position: relative;

        img {
            padding: 10px 15px;
            margin: 5px 8px;
            margin: 5px 0px 5px 20px;
        }

        .shiny {
            position: absolute;
            bottom: -100px;
            right: 10px;
            box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.75); 

            &.fade {
                transition: opacity .15s ease-in-out;
            }
            
            &.show {
                transition: opacity .35s ease-in-out;
            }
            
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 100%;

        .h4_bottom {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: row;
            width: 100%;

            .span_evolution {
                font-weight: bolder;
                font-size: 24px;
            }

            .toggle_close:before {
                content: 'cancel';
                font-size: 1.4em;
                font-weight: bolder;
                cursor: pointer;
                position: absolute;
                right: 22px;
                top: 16px;
            }

            .toggle_add:before {
                content: 'add_circle';
                font-size: 1.4em;
                font-weight: bolder;
                cursor: pointer;
                position: absolute;
                right: 22px;
                top: 16px;
            }
        }

        .container_evolution {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            margin-top: 25px;

            .pokemon_baby {

                h5 {
                    color: white;
                    margin-top: 20px;
                    text-transform: capitalize;
                    font-weight: bold;
                    text-align: center;
                }

                img {
                    border-radius: 15px;
                    max-width: 280px;
                }
            }

            .evolve_pokemon {
                display: flex;
                flex-direction: column ;
                align-items: center;
                img {
                    border-radius: 15px;
                    max-width: 280px;
                }
            }

            .arrow_forward_ios:before {
                color:white;
                font-size: 2em;
                content: 'arrow_forward_ios';                
            }
        }

        .container_evolution.fade {
            display: none;
        }
    }

    .location_container {
        margin-bottom: 50px !important;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        .h4_container {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: row;
            width: 100%;
    
            h4 {
                .span_location {
                    font-size: 0.6em;
                    margin-left: 10px;
                }
            }

            .toggle_close:before {
                content: 'cancel';
                font-size: 1.4em;
                font-weight: bolder;
                cursor: pointer;
                position: absolute;
                right: 22px;
                top: 16px;
                transition: all .2s ease-in-out;
                &:hover {
                    transform: scale(1.2);
                }
            }

            .toggle_add:before {
                content: 'add_circle';
                font-size: 1.4em;
                font-weight: bolder;
                cursor: pointer;
                position: absolute;
                right: 22px;
                top: 16px;
                
                transition: all .2s ease-in-out;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .fade {
           display: none;
        }
    }
}

/** Responsive */

@media (max-width: 1024px) {
    .pokemon_settings.middle {
        img { 
            max-width: 300px !important;
            max-height: 300px !important;
        }
    }

    .badge.stats {
        max-width: 80% ;
        margin: 5px auto !important;
    }

    .badge_types, .badge.stats, .badge_abilities {
        padding: 5px 10px !important;
    }  
}

@media (max-width: 768px) {
    .pokemon_settings.middle {
        flex-direction: column !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        .pokemon_stats {
            margin-top: 50px;
        }

        img { 
            order: 1;
            margin-bottom: 30px;

        }

        .pokemon_spec_types_abilities {
            order: 2;
        }

        .pokemon_stats {
            order: 3;
        }

        .badge.stats {
            max-width: 100% ;
        }

        .badge_types, .badge.stats, .badge_abilities {
            padding: 10px 20px !important;
        }
    }

    .bottom {
        .container_evolution {
            flex-direction: column !important;

            .arrow_forward_ios:before {
                font-size: 2em;
                content: 'keyboard_arrow_down' !important;
            }
        }
    }
}

@media (max-width: 425px) {
    .pokemon_settings.middle {

        img { 
            max-width: 300px !important;
        }

        .prix_cart {
            position: absolute;
            display: flex;
            flex-direction: column !important;
        
            top: 110px ;
            right: 22px ;      
        }
    }
}

@media (max-width: 320px) {
    .pokemon_spec_types_abilities {
        flex-direction: column !important;
    }

    .badge.stats {
        max-width: 250px !important;
    }

    .prix_cart {
        right: 22px !important;      
    }

    .pokemon_settings.middle {
        img {
            max-width: 250px !important;
        }
    }
}

// @media only screen and (min-width: 768px) and (max-width: 1024px) {
// }