@import '../../styles.scss';

h4 {
    color: white;
    text-transform: capitalize;
}

.container {
    margin-top: 40px;
}

.container.pokemons_by_type {
    display: flex;
    flex-direction: row;
    //overflow-x: scroll;
    flex-wrap: wrap; 
}

.plus_pokemons_type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

