<div class="container types">
    <span class="badge badge-success"> Types :</span>
    <span class="badge badge-warning" *ngFor="let poke of this.pokemons_types_aux; let i = index">
        <a [routerLink] = "['/types']"  fragment="{{poke.type}}" (click)="onType(poke)">{{poke.type}}</a>
    </span>
    
</div>
    

<div   class="container" *ngFor="let poke of this.pokemons_types; let i = index" >
    <div id="{{poke.type}}" class="container_type">
        <h4>{{poke.type}} 
            <span class="material-icons chevron_right">
                chevron_right
            </span>
        </h4>
        <div class="container pokemons_by_type">
            <div  *ngFor="let pokemon of poke.list_pokemons; let i = index">
                <app-pokemon [input_pokemon]="pokemon.pokemon" [width_img_pokemon]="100" [height_img_pokemon]="100" [show_abilities]="true"></app-pokemon>
            </div>
            <div class="plus_pokemons_type">
                    <a routerLink = "/pokemons-types/{{poke.type}}" >
                        <span class="material-icons arrow_forward_ios">
                            arrow_forward_ios
                        </span>
                    </a>
            </div>
        </div>
    </div>
    
    <hr>
</div>

