@import "~leaflet/dist/leaflet.css";
/* You can add global styles to this file, and also import other style files */

$back: purple;
$back-main-gradient: linear-gradient(to bottom,#5a135a 0,#5a135a 100%);
$back-main: #5a135a;

$color: #feca1b;
$shadow : rgba(0,0,0,0.75);
$border: #3761a8;


html, body { 
    height: 100%; 
}
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: $back-main-gradient !important;
    color: $color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: AvenirNextLTPro,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

a {
    text-decoration: none;
    color: white;
}