/* You can add global styles to this file, and also import other style files */

$back: purple;
$back-main: #5a135a;
$color: white;
$shadow : rgba(0,0,0,0.75);

html, body { 
    height: 100%; 
}
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: $back-main;
    color: $color;
}